appmode
bokeh
holoviews
bqplot
cycler
docopt
joblib
kiwisolver
matplotlib
nbinteract
numpy
pandas
patsy
pyparsing
pytz
scikit-learn
scipy
seaborn
statsmodels
toolz
plotly
cufflinks
hvplot 
ipywidgets
